/* create style to plug into "main" and the different html elements */

div, h1 {
  text-align: center;
}

#burgerImg {
  align-items: center;
  margin: auto;
  height: 20%;
  width: 20%;
}

ol, li {
  padding: 10px;
  text-align: left;
  margin-bottom: 5px;
  
}

